<div class="sd-bundle-app"></div>

{% schema %}
{
    "name": "Smart Bundle Discounts",
    "templates": ["product"],
    "target": "section",
    "settings": [
        {
            "type": "header",
            "content": "About this block"
        }, 
        {
            "type": "paragraph",
            "content": "This is the example for the position of the Smart Bundle block."
        },
        {
            "type": "header",
            "content": "About better theme customizer experience"
        },
        {
            "type": "paragraph",
            "content": "Please enable third-party cookies or use a different web browser to get the best performance on the customizer. Learn how to enable third-party cookies for your browser [here](https://support.google.com/chrome/answer/95647)."
        },
        {
            "type": "paragraph",
            "content": "-If third-party cookies are disabled, then you can set only widget positioning and visual previews here in the customizer."
        },
        {
            "type": "paragraph",
            "content": "-If third-party cookies are enabled, then you will be able to add a bundle to the cart here in the customizer as well."
        }
    ]
}
{% endschema %}