<div class="sd-bundle-app"></div>

{% schema %}
{
    "name": "Smart Bundle Discounts",
    "templates": ["product"],
    "target": "section",
    "settings": [
        {
            "type": "header",
            "content": "About this block"
        }, 
        {
            "type": "paragraph",
            "content": "This is the example for the position of the Smart Bundle block."
        }
    ]
}
{% endschema %}