<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://cdn.shopify.com/s/files/1/0801/7264/6691/files/MicrosoftTeams-image_12.png?v=1691413762" /> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Privacy Policy</title>
</head>
<body>
  <div class="sd-privacy-policy container"  style=" border-radius: 5px; margin: auto; border: 1px solid rgb(30, 30, 255); padding: 30px;">
    <div class="sd-privacy-logo text-center">
      <img width="100px" height="auto" src="https://cdn.shopify.com/s/files/1/0801/7264/6691/files/MicrosoftTeams-image_12.png?v=1691413762" alt="logo"/>
    </div> 
    <div class="sd-privacy-heading"  style="text-align: center;font-size: 24px; margin: 30px 0px 010px 0px;">
      <h2>Privacy Policy</h2>
    </div>
    <div class="sd-privacy-content">
      <p>
        All the terms & conditions of the app are as per Shopify standards
        on the entire product & services which are made available by us to
        our customers.
     </p>
      <p>The terms & conditions lay down to represent the
        whole agreement & understanding between the Shine Dezign Infonet & the entity to subscribe to our Smart Bundle Discounts App</p>
      <p>
        So, please understand & read carefully this agreement and the use of
        the service & surely notify that you agree to comply with all the
        terms & conditions set out in this specific agreement.
      </p>
      <div class="sd-privacy-description">
        <h3>
          Here how we are sharing the policies of Smart Bundle Discounts App
        </h3>
          <p>
            Currently, we are offering the free version of the Smart Bundle Discounts App.
          </p>
      </div>
      <div class="sd-privacy-description">
         <h3>Changes To The Privacy Policy</h3>
             <p>
             We may update this privacy policy at any time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons. If we make changes to this policy, we will notify you by email of updates, so that you are aware of information we collect, how we use it, and under what circumstances, if any.
             </p>
      </div>
      <div class="sd-privacy-description">
          <h3>Contact Information</h3>
          <p>
             If you would like to access, correct, amend or delete any personal information, or require any additional information about our privacy policy please contact us at 
             <a href="mailto:vikas.shinedezign@gmail.com">vikas.shinedezign@gmail.com</a>
          </p>
      </div>
      <footer style="text-align: center;margin: 10px 0px;">
           Copyright &copy; <script>document.write(new Date().getFullYear())</script> | Shine Dezign Infonet Pvt. Ltd |  All Rights Reserved
      </footer>
    </div>
  </div>
</body>
</html>