.sd-bundle-main-container {
  width: 100%
}

.sd-bundle-product-container {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px !important;
}

.sd-bundle-volume-container {
  width: 100%;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px !important;
}

.sd-bundle-collectionMixMatch-container {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
    padding:10px;
}

.sd-search-spinner {
  position: absolute;
  top: 20px;
}
.sd-bundle-volume-productOption-title {
    line-height: 1.1;
}
.sd-bundle-productOption-productPrice {
    line-height: 1.3;
}
.sd-bundle-volume-discount-final-price {
  margin-left: 10px;
}
.sd-bundle-volume-discounted-price {
    text-decoration: line-through;
}
.sd-bundle-product-title {
  font-weight: bold;
  margin-top: 0;
}

.sd-bundle-data-section-image {
    width: 50px;
    height: 45px;
    object-fit: contain;
    border: 1px solid;
}

.sd-bundle-data-section-image-box {
  padding: 10px;
}

.sd-bundle-data-section {
  display: flex;
  justify-content: space-between;

}

.sd-bundle-discount-applied-text {
  margin-bottom: 0.75rem;
}

.sd-bundle-data-section-img-title-box {
    display: flex;
    align-items: center;
}

.sd-bundle-select-option {
  width: 100%;
  margin: 14px 0 15px 0;
}

.sd-bundle-plusBtn-box {
  text-align: center
}

.sd-bundle-selectRow-div {
  display: flex
}

.sd-bundle-select-option {
  border-radius: 0 !important;
}

.sd-bundle-total-conatiner {
  display: flex;
  justify-content: space-around;
  padding: 4px !important;
  border: 1px solid;
  font-weight: bold;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  align-items:center;
}

.sd-bundle-discounted-price-box {
  display: flex;
  align-items:center;
}

.sd-bundle-add-to-cart-button {
  padding: 12px !important;
  border: 1px solid;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
}

.sd-bundle-discount-price {
  text-decoration: line-through;
}

.sd-bundle-final-price {
  margin-left: 10px;
}

.sd-bundle-add-to-cart-box {
  width: 100%;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 10px;
}

.sd-bundle-WaterMark-conatiner {
    text-align: center;
    color: black;
    font-size: 14px;
}
.sd-bundle-volume-discountOpt-title-box {
  display: flex;
  align-items: center;
}

input[type=radio] {
  margin-top: 0;
}

.sd-bundle-volume-dropdown-btn {
  display: flex;
  align-items: center;
}

.sd-bundle-volume-discountOption-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.sd-bundle-volume-productOption-img-box {
    width: 55px;
    height: 45px;
    padding: 10px;
    position: relative;
}

.sd-bundle-volume-discountOption-product {
  display: flex;
  justify-content: space-between
}

.sd-bundle-volume-discountOption-imgTitle-box {
  display: flex;
}

.sd-bundle-volume-discountOption {

  border: 1px solid #e5e5e5;
  margin-bottom: 5px;
  border-radius: 5px;

}

.sd-volume-select-option {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin: 10px 0 10px 20px;
    border-color: #afb4b9;
    height: 34px;
  cursor:pointer;
}
.sd-volume-select-option:focus-visible {
  outline: none;
  box-shadow: none;
}

.sd-volume-selectRow-div {
  display: flex
}

.close {
  display: none
}

.open {
  display: block
}

.sd-bundle-volume-addtocart-box {
    display: flex;
    justify-content: space-around;
    padding: 4px!important;
    border: 1px solid;
    font-weight: 700;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.sd-bundle-volume-total-discount-box {
  display: flex;
  align-items:center;
}

.sd-bundle-volume-add-to-cart-container {
  width: 100%;
  margin: 4px auto 10px;
}

.sd-bundle-volume-addtocart-btn {
  padding: 12px !important;
  border: 1px solid;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
}

.sd-collectionMM-discount-badge {
  font-weight: bold;
  padding:0px 8px;
  border: 1px solid white;
  width: max-content;
}

.sd-collectionMM-main-section {
  padding: 10px
}

.sd-collection-customise-title-text {
  padding: 5px
}

.sd-collectionMM-customise-description-box {
  padding: 5px
}

.sd-collectionMM-selected-collection {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.sd-bundle-volume-discountOption-badgeSection {
  padding: 0 4px;
}

.sd-collectionMM-selected-collection-img {
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;
  position:relative;
}
.sd-collectionMM-selected-collection-img img {
    object-fit: contain;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sd-collectionMM-collecttion-data p {
  margin: 0;
  line-height: 1.5;
}

.sd-collection-bundleBuilder-btn {
  background-color: #000;
  display: block;
  width: 100%;
  padding: 12px !important;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 5px 0 !important;
}

.sd-bundle\.product-variant-quantity {
  border: 1px solid;
  border-radius: 50%;
  padding: 4px 5px;
  font-size: 17px;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.sd-bundle-select-option {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin: 10px 0 10px 20px;
    border-color: #afb4b9;
    border-radius: 5px;
    height: 35px;
    cursor:pointer;
}

.sd-bundle-plusBtn-box {
    text-align: center;
    font-size: 13px;
    padding: 2px 7px;
    border: 1px solid;
    border-radius: 50%;
    margin: auto;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    height: 27px;
    width: 27px;
    justify-content: center;
}
.sd-bundle-select-option:focus-visible {
  outline: none;
  box-shadow: none;
}

.sd-collection-customise-title-text {
  font-weight: 600;
  margin: 0;
}

.sd-collectionMM-customise-description-text {
  margin: 0 0 10px;
}

.sd-bundle-plus {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sd-bundle-volume-title-text {
  font-weight: bold;
  margin-top: 0;
}

.sd-bundle-volume-discription-title {
  padding: 4px;
  cursor: pointer
}

.sd-bundle-volume-radio {
  cursor: pointer
}

.sd-volume-img {
    border: 1px solid;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  object-fit:contain;
}


.sd-bundle-volume-productOption-titlePrice {
  padding: 0 10px 10px
}

.sd-bundle-volume-discountOption-quantity-box {
  border: 1px solid;
  border-radius: 50%;
  padding: 4px 5px;
  font-size: 17px;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.sd-bundle-volume-productdata-container {
  padding: 10px
}

.sd-bundle-datasection-title-price-box {
 padding: 0 10px 10px;
}

.sd-bundle-dataSection-quantity-box {
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
}
.sd-volume-quantity-container {
    display: flex;
    align-items: center;
    padding: 0 10px 10px;
}

.Variant-opened option:first-child {
  display: none;
}

.sd-bundle-builder-container {
  padding: 0 16px 0 0px;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 220px;
  width: 100%;
}

.sd-bundle-builder-image-box {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.sd-bundle-builder-collection-image {
  width: 100%;
  border: none !important;
  margin-bottom: 0 !important;
}

.sd-bundle-builder-collection-data-header {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.sd-bundle-builder-collection-data {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 3px;
  background: #f9f9f9;
}

.sd-bundle-builder-title-div {
  padding-left: 0.75rem;
}

.sd-bundle-builder-collection-title-text {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-align: left;
}

.sd-bundle-builder-additemtext {
  font-size: 18px;
  font-weight: 500;
}

.sd-bundle-builder-addtocart-btn-box {
  width: 100%;
  background: black;
  margin-top: 20px;
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer
}

.sd-bundle-builder-title-text {
  color: black;
  font-size: 25px;
  font-weight: 500;
  line-height:1.3;
}

.sd-bundle-builder-description-text {
  font-size: 20px;
  line-height:1.3;
}

.sd-bundle-builder-divider {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  max-width: 92%;
  height: 10px;
  display: block !important;
  margin: auto;
}

.sd-bundle-divider {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  max-width: 92%;
  height: 10px;
  display: block !important;
  margin: auto;
}

.sd-bundle-builder-search-bar {
    width: 92%;
    padding: 12px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-shadow: #0000000a 0 3px 5px;
}

.sd-bundle-builder-search-bar-container {
  text-align: center;
  position: relative;
  z-index: 1;
}

.sd-bundle-builder-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin: auto
}


/* .sd-bundle-main-container-loader{
   border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin:auto !important ;
}
   @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
#sd-bundle-main-container-loader {
  /*   position:absolute; */
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#sd-bundle-main-container-loader div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35C4F0;
}

#sd-bundle-main-container-loader div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#sd-bundle-main-container-loader div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#sd-bundle-main-container-loader div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#sd-bundle-main-container-loader div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#sd-bundle-main-container-loader div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#sd-bundle-main-container-loader div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}


.sd-bundle-error-message {
  font-weight: 700;
  color: red;
  text-align: center;
}

.sd-bundle-collectionMixMatch-all-product-div {
  display: flex;
  max-height: 500px;
  justify-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
  column-gap: 4rem;
  justify-content: center;
  row-gap: 4rem;
}

.sd-bundle-CMM-see-more-div {
  text-align: center;
  margin: 1rem 0;
}

.sd-builder-no-Variant-container path {
  fill: #c1c1c1;
}

.sd-bundle-CMM-seeMore-btn {
  color: #000;
  background: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.sd-bundle-CMM-productDiv {
  width: 250px;
  background: white;
  padding: 0 0 15px 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.sd-bundle-CMM-product-img {
  width: 100%;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  height: 170px !important;
  object-fit:contain;
}

.sd-bundle-CMM-product-img-div {
  width: 100%;
  height: auto;
}

.sd-bundle-collectionMixMatch-all-product-div {
  padding: 28px;
  position: relative;

}

.sd-bundle-CMM-product-title-div {
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  font-size: 17px;
}

.sd-bundle-builder-product-price {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.sd-spinnerDiv {
  border-radius: 50% !important;
}

.sd-loader {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: solid 3px #007bff;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all .5s ease-in;
  -webkit-animation-name: sdrotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all .5s ease-in;
  animation-name: sdrotate;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block !important;
  margin-left: -10px;
  margin-top: -4px;
}

.sd-spinnerDiv {
  border-radius: 50%;
  height: 33px;
  width: 30px;
  pointer-events: none;
}

@keyframes sdrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sdrotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.sd-bundle-builder-title-container {
  text-align: left;
}

#sd-bundle-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.sd-bundle-builder-info-container {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 800px;
    min-width: 388px;
    padding: 20px;
    position: sticky;
    top: 8px;
    width: 388px;
    border-radius: 4px;
}

.sd-builder-cart-info-product-accordion-box {
  max-height: 300px;
  overflow-y: auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d1cece;
}

.sd-Builder-Cart-Info-Body {
  overflow: hidden;
}
.sd-Builder-Cart-Info-Body::-webkit-scrollbar{
  display:none;
}

.sd-accordion-panel {
  overflow: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  transition: max-height .3s ease-out;
}

.sd-Info-Div-added-item-text {
  text-align: left;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
.sd-Builder-Cart-Info-Body {
    text-align: left;
    overflow-y: auto;
    max-height: 800px;
}
.sd-builder-accordion-header-box {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background: #fafafa;
  z-index: 2;
  border: 1px solid #e1e1e1;
  padding: 3px 5px;
}

.Sd-builder-accordion-heading-name {
  line-height: 22px;
  margin-right: auto;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.sd-builder-Cart-Info-Action-Box {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 20px 20px;
  background: #fff;
  z-index:99;
}

.sd-builder-total-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sd-builder-cart-info-add-btn {
  background-color: #e5e5e5;
  color: #000;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 16px 0;
}

.sd-builder-total-text {
  font-size: 19px;
}

.sd-builder-total-raw-price {
    font-weight: 500;
    font-size: 19px;
    text-decoration: line-through;
    margin-right: 1rem;
}
.sd-builder-total-discounted-price {
    font-weight: 600;
    font-size: 19px;
}
.sd-bundle-builder-add-product-btn {
    cursor: pointer;
    padding: 7px 20px;
    background: #000;
    color:#fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 80%;
}
    .sd-bundle-builder-add-product-btn:hover, .sd-builder-select-variants:hover {
   background: #000000bd;
  color:#fff;
}
.sd-builder-select-variants:focus-visible {
    outline: none;
    box-shadow: none;
}
.sd-builder-select-variants {
    padding: 6px 20px;
    text-align: center;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.5rem;
    width: 80%;
    background: #000;
    color:#fff;
    border: 1px solid #e1e1e1;
}

.sd-builder-plus-icon-container {
  align-items: center;
  border: 1px dashed #c1c1c1;
  display: inline-flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
}

.sd-builder-product-panel {
  align-items: center;
  display: flex;
  margin: 0 0 16px;
  overflow-y: auto;
  transition: max-height .3s ease-out;
}

.sd-builder-no-variant-text {
  color: #727272;
  font-size: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  position:relative;
  bottom:7px;
}

.sd-builder-info-product-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  width: 200px;
  color: #000;
}

.sd-builder-info-variant-title {
  font-size: 14px;
  color: #000;
}

.sd-accordion-arrow {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.sd-accordion-active {
  transform: rotate(90deg);
}

.sd-builder-info-product-img-container {
    width: 60px;
    height: 50px;
    display: flex;
    position: relative;
}

.sd-builder-info-product-img-container img {
    width: 50px;
    max-width: 50px !important;
    height: 45px !important;
    object-fit: contain;
}

.sd-removeVariant-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 2px 16px;
    border-radius: 18px;
    position: relative;
    visibility: hidden;
}
.sd-removeVariant-btn::before {
    position: absolute;
    color: #000;
    content: "";
    background-image: url('data:image/svg+xml,<svg width="17" height="14" viewBox="0 0 17 14" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M11.05 10.5H14.45V12.25H11.05V10.5ZM11.05 3.5H17V5.25H11.05V3.5ZM11.05 7H16.15V8.75H11.05V7ZM0.85 12.25C0.85 13.2125 1.615 14 2.55 14H7.65C8.585 14 9.35 13.2125 9.35 12.25V3.5H0.85V12.25ZM10.2 0.875H7.65L6.8 0H3.4L2.55 0.875H0V2.625H10.2V0.875Z" fill="black" fill-opacity="1"/></svg>');
    width: 20px;
    height: 20px;
    right: 10px;
    visibility: visible;
    background-repeat: no-repeat;
    top: 0;
    cursor: pointer;
}
.sd-builder-info-selected-products {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    margin: 10px 0;
}

.sd-info-variants-data {
  width: 100%
}


.sd-bundle-hide-click {
  display: none
}

.sd-volume-hide-click {
  display: none
}

span.sd-bundle-shipping-icon {
  margin: 5px;
  display: flex;
  align-items: center;
}

.sd-bundle-no-shopping-container {
  display: flex;
  background: #e5e5e5;
  color: #008060;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 100px;
  max-width: 90%;
}

span.sd-bundle-noShipping-text {
  margin: 5px;
}

.bundleBtnSpinner {
    width: 16px; 
    height: 16px ;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: btnSpin 1s linear infinite;
    margin: auto;
}

@keyframes btnSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sdVolumeSpinner {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: volBtnSpin 1s linear infinite;
  margin: auto
}


@keyframes volBtnSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.collectionSpinerBtn {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: collBtnSpin 1s linear infinite;
  margin: auto
}

@keyframes collBtnSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bundleBuilderSpinner {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: collBtnSpin 1s linear infinite;
  margin: auto
}

.sd-bundle-see-more-box,
.sd-bundle-see-less-box {
  text-align: center;
}

.sd-bundle-see-more-box button,
.sd-bundle-see-less-box button {
  background: #888888;
  border: none;
  padding: 7px 12px;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

@media (max-width:991px) {
  #sd-bundle-container {
    flex-wrap: wrap;
  }

  .sd-bundle-builder-container {
    padding: 16px 0 0 0px !important;
    margin-bottom: 2rem !important;
  }

  .sd-bundle-builder-info-container {
    width: 100% !important;
    min-width: 100% !important;
  }
}

@media (max-width:576px) {
.sd-builder-info-product-title {
    width: 120px;
}
}

@media (max-width:400px) {
  .sd-bundle-volume-productOption-titlePrice {
    padding: 0;
  }

  .sd-volume-quantity-container {
    padding: 0;
  }

  .sd-bundle-plusBtn-box {
    padding: 2px 7px;
  }
  .sd-bundle-builder-title-text {
    font-size: 21px;
}
  #sd-bundle-container {
    padding: 0 2rem;
}
  .main-page-title {
    margin-bottom: 0rem;
    font-size: 30px;
}
  .sd-bundle-builder-info-container {
    padding: 13px;
}
  .sd-bundle-builder-description-text {
    font-size: 16px;
    line-height: 1.1;
}
  .sd-Info-Div-added-item-text {
    font-size: 20px;
}
  .sd-bundle-builder-collection-data-header {
    padding: 5px;
}
  .sd-bundle-builder-collection-title-text {
    font-size: 16px;
}
  .sd-bundle-builder-additemtext {
    font-size: 14px;
}
  .sd-bundle-CMM-product-title-div {
    font-size: 14px;
}
}